/*
756px grid system ~ Core CSS.
12 Columns ~ Margin left: 10px ~ Margin right: 10px

Based on the 960.gs grid system - http://960.gs/
by Nathan Smith

Created by the Grid System Generator - v1.04
Learn more ~ http://www.gridsystemgenerator.com/
*/

/*
Forces backgrounds to span full width,
even if there is horizontal scrolling.
Increase this if your layout is wider.

Note: IE6 works fine without this fix.
*/
body {
	min-width: 756px;
}

/* =Containers
--------------------------------------------------------------------------------*/
.container-12
{
	margin-left: auto;
	margin-right: auto;
	width: 756px;
}

/* =Grid >> Global
--------------------------------------------------------------------------------*/
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.push-1, .pull-1,
.push-2, .pull-2,
.push-3, .pull-3,
.push-4, .pull-4,
.push-5, .pull-5,
.push-6, .pull-6,
.push-7, .pull-7,
.push-8, .pull-8,
.push-9, .pull-9,
.push-10, .pull-10,
.push-11, .pull-11 {
	position: relative;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
.alpha {margin-left: 0;}
.omega {margin-right: 0;}

/* =Grid >> 12 Columns
--------------------------------------------------------------------------------*/
.container-12 .grid-1 {width: 43px;}
.container-12 .grid-2 {width: 106px;}
.container-12 .grid-3 {width: 169px;}
.container-12 .grid-4 {width: 232px;}
.container-12 .grid-5 {width: 295px;}
.container-12 .grid-6 {width: 358px;}
.container-12 .grid-7 {width: 421px;}
.container-12 .grid-8 {width: 484px;}
.container-12 .grid-9 {width: 547px;}
.container-12 .grid-10 {width: 610px;}
.container-12 .grid-11 {width: 673px;}
.container-12 .grid-12 {width: 736px;}

/* =Prefix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container-12 .prefix-1 {padding-left: 63px;}
.container-12 .prefix-2 {padding-left: 126px;}
.container-12 .prefix-3 {padding-left: 189px;}
.container-12 .prefix-4 {padding-left: 252px;}
.container-12 .prefix-5 {padding-left: 315px;}
.container-12 .prefix-6 {padding-left: 378px;}
.container-12 .prefix-7 {padding-left: 441px;}
.container-12 .prefix-8 {padding-left: 504px;}
.container-12 .prefix-9 {padding-left: 567px;}
.container-12 .prefix-10 {padding-left: 630px;}
.container-12 .prefix-11 {padding-left: 693px;}

/* =Suffix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container-12 .suffix-1 {padding-right: 63px;}
.container-12 .suffix-2 {padding-right: 126px;}
.container-12 .suffix-3 {padding-right: 189px;}
.container-12 .suffix-4 {padding-right: 252px;}
.container-12 .suffix-5 {padding-right: 315px;}
.container-12 .suffix-6 {padding-right: 378px;}
.container-12 .suffix-7 {padding-right: 441px;}
.container-12 .suffix-8 {padding-right: 504px;}
.container-12 .suffix-9 {padding-right: 567px;}
.container-12 .suffix-10 {padding-right: 630px;}
.container-12 .suffix-11 {padding-right: 693px;}

/* `Push Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container-12 .push-1 {left: 63px;}
.container-12 .push-2 {left: 126px;}
.container-12 .push-3 {left: 189px;}
.container-12 .push-4 {left: 252px;}
.container-12 .push-5 {left: 315px;}
.container-12 .push-6 {left: 378px;}
.container-12 .push-7 {left: 441px;}
.container-12 .push-8 {left: 504px;}
.container-12 .push-9 {left: 567px;}
.container-12 .push-10 {left: 630px;}
.container-12 .push-11 {left: 693px;}

/* `Pull Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container-12 .pull-1 {left: -63px;}
.container-12 .pull-2 {left: -126px;}
.container-12 .pull-3 {left: -189px;}
.container-12 .pull-4 {left: -252px;}
.container-12 .pull-5 {left: -315px;}
.container-12 .pull-6 {left: -378px;}
.container-12 .pull-7 {left: -441px;}
.container-12 .pull-8 {left: -504px;}
.container-12 .pull-9 {left: -567px;}
.container-12 .pull-10 {left: -630px;}
.container-12 .pull-11 {left: -693px;}

/* Clear Floats
--------------------------------------------------------------------------------*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

/* Image Replacement
------------------------------- */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.ir br { 
  display: none;
}
